extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug

block main
    h1 Danh sách sản phẩm
        .card.mb-3 
            .card-header Bộ lọc và tìm kiếm 
            .card-body 
                .row
                    .col-6
                        +filter-status(filterStatus)
                    .col-6 
                        +search(keyword)

        .card.mb-3 
            .card-header Danh sách 
                .card-body 
                table.table.table-hover.table-sm 
                    thead 
                        tr 
                            th STT 
                            th Hình ảnh 
                            th Tiêu đề
                            th Giá
                            th Trạng thái
                            th Hành động
                    tbody 
                        each item, index in products
                            tr 
                                td #{index + 1}
                                td 
                                    img(src=item.thumbnail, 
                                        alt=item.title
                                        width="100px"
                                        height="auto"
                                    )
                                td #{item.title}
                                td #{item.price}$
                                td 
                                    if(item.status == 'active')
                                        a(href="#" class="badge badge-success") Hoạt động 
                                    else 
                                        a(href="#" class="badge badge-danger") Ngừng hoạt động
                                td 
                                    button(class="btn btn-warning btn-sm") Sửa
                                    button(class="btn btn-danger btn-sm") Xoá
                
                nav.mt-4
                    ul.pagination.justify-content-center.align-items-center

                        // Trang đầu
                        li.page-item
                            if(pagination.currentPage > 1)
                                button.page-link(
                                    type="button"
                                    button-pagination= 1
                                    title="Trang đầu"
                                )
                                    span &laquo;&laquo;

                        // Trang trước
                        li.page-item
                            if(pagination.currentPage > 1)
                                button.page-link(
                                    type="button"
                                    button-pagination= pagination.currentPage - 1
                                    title="Trang trước"
                                )
                                    span &laquo;

                        // Các trang
                        - for (var i = 1; i <= pagination.totalPage; i++)
                            li(class=`page-item ${pagination.currentPage == i ? "active" : ""}`)
                                button.page-link(
                                    type="button"
                                    button-pagination=i
                                ) #{i}

                        // Trang kế tiếp
                        li.page-item
                            if(pagination.currentPage < pagination.totalPage)
                                button.page-link(
                                    type="button"
                                    button-pagination = pagination.currentPage + 1
                                    title="Trang kế tiếp"
                                )
                                    span &raquo;

                        // Trang cuối
                        li.page-item
                            if(pagination.currentPage < pagination.totalPage)
                                button.page-link(
                                    type="button"
                                    button-pagination= pagination.totalPage
                                    title="Trang cuối"
                                )
                                    span &raquo;&raquo;
